.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 2px;
  padding: 5px;
  margin: 10px 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 2px;
  padding: 5px;
  margin: 10px 10px;
}